
<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/tachyons.css">
			<link rel="stylesheet" type="text/css" href="/css/custom.css">
			<link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Serif" rel="stylesheet">
		</head>
		<body class="sans-serif">
			<header>
				<nav class="mw5 mw7-ns center pa3 border-box">
	        		<a class="link dim gray f6 f5-ns dib mr3" href="/">Home</a>
		        	<a class="link dim gray f6 f5-ns dib mr3" href="/lizzy-answers">Lizzy Answers</a>
	        		<a class="link dim gray f6 f5-ns dib mr3" href="/16-year-old-poet">16 year old poet</a>
	        		<a class="link dim gray f6 f5-ns dib mr3" href="/the-sky-is-the-limit">The Sky Is The Limit</a>
				</nav>
			</header>
			<main>
				<div class="mw5 mw7-ns center pa3">
          <article class="post">
              <p class="meta">{{ page.date | date_to_string }}</p>
              <div class="post">
                {{ content }}
              </div>
          </article>
				</div><!-- /.container -->
			</main>

			<footer>
			</footer>
		</body>
	</html>
